body {
    margin:0;
}

.dark {
    background:black;
    transition: 1s;
}

.light {
    background:white;
    transition: 1s;
}

#roomr {
    cursor: pointer;
}

.room {
    height:101vh;
    width:76vh;
    position:absolute;
    left:0;
    top:-1px;
    transition:1s;
}

.r1 {
    height:50vh; 
    width:38vh;
    position: absolute;
    left:20%;
    top:15%;
    transition:1s;
}

.r2 {
    height:100vh;
    position:absolute;
    left:0;
    top:0;
    transition:1s;
}

.r3 {
    width:70vh;
    position:absolute;
    left:-10vw;
    top:-1px;
    transition:1.5s;
    opacity: 0;
}



.shade {
    border-bottom: 35.5vh solid #C1EADB;
    border-left: 30vw solid transparent;
    border-right: -0 solid transparent;
    position:fixed;
    width:38vh;
    height:50vh;
    bottom:0;
    left: -10vw;
    transition:1s;
}

.noshade {
    border-bottom: 0vh solid #C1EADB;
    transition:1s;
}

#windowo {
    width:19.5vh;
    height:30vh;
    position:fixed;
    left:44vh;
    top:23vh;
}

#window1 {
    position:relative;
    border: 1px solid #C1EADB;
    position:fixed;
    visibility: hidden;
}

.openw {
   height:30vh;
    width:19.5vh;
   top:23vh;
   opacity: 0.5;
    left:130vh;
   transition:2s;
}

.openw1 {
    height:33vh;
    width:19.5vh;
    top: 20vh;
    opacity: 1;
    left:130vh;
    transition: 2s;
}

#window2 {
    position:relative;
    border: 1px solid #C1EADB;
    transform:skewY(-40deg);
    width:12vh;
    position:fixed;
    left:84vh;
    visibility: hidden;
}

.closew {
    top:54vh;
    height:4vh;
    opacity: 0.5;
    transition: 1s;
}

.closew1 {
    top:58vh;
    height:0vh;
    opacity:1;
    transition: 1s;
}

#windowo:hover {
    cursor:pointer;
}

.ww {
    top:5vh;
    left:5vw;
    height:82vh;
    width: 81vw;
    transition: 1s;
    opacity: 1;
}

#land {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5px solid;
}

.lp {
    background-image: url("svg/landscape-05.svg");
    visibility: hidden;
}

.lp1 {
    background-image: url("svg/portal1-05.svg"), url("svg/landscape-05.svg");
}

.lp2 {
    background-image: url("svg/portal2-05.svg"), url("svg/landscape-05.svg");
}

.nola {
    opacity: 0;
    transition:1s;
}

.la {
    top:5vh;
    left:5vw;
    height:82vh;
    width: 81vw;
    transition: 1s;
    opacity: 1;
}

.la2 {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    top:0;
    left:14vw;
    transition: 0.9s;
}

#windowS {
    position:fixed;
    left:5vh;
    top:52vh;
    width:18vh;
    height:8vh;
}

#windowS:hover {
    cursor:pointer;
}

#landscape {
    position: absolute;
}

#house {
    position: absolute;
    border: 0.5px solid;
    background:white;
    cursor: pointer;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.h1 {
    top:75vh;
    right:10vw;
    width:100px;
    height: 30px;
    opacity: 0;
    transition: 1s;
    visibility: hidden;
}

.h2 {
    top:75vh;
    right:10vw;
    width:120px;
    height: 70px;
    opacity: 1;
    transition: 1s;
}

#hdoor {
    width: 10px;
    height:20px;
    bottom:0;
    left:22px;
}

#hw1 {
    width: 8px;
    height: 16px;
    left: 70px;
    bottom:24px;
}

#hw2 {
    width: 8px;
    height: 3px;
    left: 88px;
    bottom:24px;
}

.h {
   position: absolute;
    border: 0.5px solid;
    background:white; 
}


 
@media only screen and (min-aspect-ratio: 8/7) {
    #portal1 {
        width: 50px;
        height: 50px;
        right: 11vw;
        top: 28vh;
    }

    #portal1:hover {
    cursor: pointer;
    }
}

@media only screen and (min-aspect-ratio: 5/8) {
    #portal2 {
        width:25px;
        height:40px;
        top: 56vh;
        right:12vw;
    }

    #portal2:hover {
        cursor: pointer;
    }
}

.cave {
    position: absolute;
    height:60vh;
    transition: 1s;
}

#cout {
    top:20vh;
    left:20vh;
}

#cin {
    top:20vh;
    left:63vh; 
}


.building {
    position: absolute;
    height:45vh;
    opacity: 1;
    transition:1s;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.show2 {
    visibility: visible;
}

#bout {
    top:20vh;
    left:20vh;
}

#bin {
    top:20vh;
    left:75vh; 
}

#bin:hover {
    cursor: pointer;
}

#bo {
   width:45vh;
   height: 45vh;
    position: absolute;
    top:20vh;
    left:20vh;
}

#bi {
    width:45vh;
   height: 45vh;
    top:20vh;
    left:75vh;
    position: absolute;
}

#bi:hover {
    cursor: pointer;
}

.min {
    height:30vh;
    transition: 1s;
    opacity: 0;
    visibility: hidden;
}

.broomin {
    height: 45vh;
    transition: 1s;
    opacity: 0;
    top:20vh;
    left:20vh;
    visibility: hidden;
}

#broom {
    position: absolute;

}

#broom2 {
    position: absolute;

}

.buildroom {
    height:80vh;
    transition: 1s;
    top:10vh;
    left:10vh;
}

.buildside {
    left:60vh;
}

#bbox {
    border: 1px solid black;
    position: absolute;
}

.box1 {
    visibility: visible;
    opacity: 1;
    width: 34.8vh;
    height: 33.3vh;
    transition: 1s;
    top:25.8vh;
    left: 100vh;
}

.boxmin {
    height:45vh;
    width:45vh;
    top:20vh;
    left:75vh;
    transition: 1s;
    opacity: 0;
    visibility: hidden;
}

#bikeclick {
    position: absolute;
}

.bikebox {
    width:8vh;
    height:8vh;
    top:71vh;
    left: 28vh;
    visibility: visible;
}

.bikebox:hover {
    cursor: pointer;
}

#wallclick {
   position:absolute;
}

#wallclick2 {
   position:absolute;
}

#wallclick2:hover {
   cursor: pointer;
}

#rugclick {
   position:absolute;
}

.rugbox {
    width:23vh;
    height:5vh;
    top:75.5vh;
    left: 64vh;
    visibility: visible;
}

.rugbox:hover {
    cursor: pointer;
}

.wallbox {
    width:37vh;
    height:37vh;
    top:29vh;
    left: 47vh;
    visibility: visible;
}

.wallbox:hover {
    cursor: pointer;
}


.sidebox {
    position: absolute;
    width: 35vh;
    height: 35vh;
    transition: 1s;
    top:25vh;
    left: 100vh;
}

#rugdown {
    position: absolute;
    margin-bottom: 20vh;
}

.rugd {
    width: 90vh;
    transition: 1s;
    top:15vh;
    left: 60vh;
    opacity: 1;
    visibility: visible;
}

.nodisplay {
    display: none;
}

.yesdisplay {
    display: auto;
}

.hider {
    width:60vh;
    left:170vh;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.hided {
    width:90vh;
    top: -50vh;
    left:60vh;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.rugIn {
    left: 10vh;
    position: fixed;
}

.minthreed {
    width:20vh;
}

.disappear {
    opacity: 0;
}

.book {
    position: absolute;
    border: 1px solid;
    background: white;
}

.book:hover {
    cursor: pointer;
}

#book1 {
  width:2.8vh;
  height: 4.2vh;
  top:53.5vh;
  left:66.5vh;
}

#book2 {
  width:1.1vh;
  height: 4.2vh;
  top:61vh;
  left:75.4vh;
}

#book3 {
  width:4.3vh;
  height: 4.2vh;
  top:69.3vh;
  left:69.3vh;
}

#comic1 {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5px solid;
    background-image: url("svg/comic-15.svg");
}


.c1 {
    width: 52vh;
    height:51vh;
    left:32vh;
    top:4vh;
}

.c1min {
    top:47vh;
    width:40vh;
    left:40vh;
    height: 10vh;
}


#comic2 {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5px solid;
    background-image: url("svg/comic-14.svg");
}

.c2 {
    width: 80vh;
    height:54vh;
    left:10vh;
    top:10vh;
}

.c2min {
    top:55vh;
    width:80vh;
    height: 10vh;
}

#comic3 {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5px solid;
    background-image: url("svg/comic-16.svg");
}


.c3 {
    width: 149vh;
    height:43vh;
    left:3vh;
    top:28vh;
}

.c3min {
    top:64vh;
    width:60vh;
    left:40vh;
    height: 7vh;
}

#abstract0 {
    position: absolute;
}

.abstract00 {
    height:100%;
    left:0;
    top:0;
    transition: 1s;
}

.abox {
    position: absolute;
    background: #D3C7D1;
    border: 1px solid;
    width:15vw;
    height:30vh;
}

#abox1 {
    top:20vh;
    left:56vw;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("svg/abstract_1.svg");
}

#abox2{
    top:20vh;
    left:75vw;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("svg/abstract_2.svg");
}

#abox4{
    top:55vh;
    left:75vw;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("svg/abstract_4.svg");
}

#abox3{
    top:55vh;
    left:56vw;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("svg/abstract_3.svg");
}